@import url('https://fonts.googleapis.com/css?family=Open+Sans');

htm; {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F8F8F8;
}

.Header-header{
    width: 100%;
    position: relative;
    height: 115px;
    background-color: #5e6a71;
}

.Header-logoNameContainer {
    background-color: #981e32;
    height:70;
}
.clearfix {
    background-color: #5e6a71 !important
}

@media screen and (min-width: 768px) {
    .Header-logoImage {
        margin-top: 10px !important;
        height: 80px;
        width: auto;
    }
}

@media screen and (min-width: 910px) {

    .Header-controls {
        width: 40%;
    }

    .Header-hamburgerHolder {
        float: right;
    }

    .Header-hamburgerHolder .btn-group button {
        display: none;
    }

    .Header-headerMenuLinks {
        position: static;
        display: flex;
        flex-wrap: nowrap;
        border: none;
        box-shadow: none;
    }

    .Header-headerMenuLinks h3 {
        margin: 2px;
    }

}

.searchcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 330px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.centered {
    position: absolute;
    background-color: #00a5bd;
    width: 230px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardbutton {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 330px;
    margin: auto;
    background-color: white;
    text-align: center;
}

.cardbutton:hover {
    background-color:  #d9d9d9 ;
}

.center-text {
    text-align: center;
}

.intro-block {
    height: 120px;
    background: #E0E0E0;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #00a5bd;
    color: #black;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.intro-header {
    font-size: 34px;
    font-weight: bold;
}

.intro-text {
    font-size:14px;
}

@media screen and (max-width: 990px) {
    .intro-header {
    font-size: 25px;
    font-weight: bold;
    }
}

@media screen and (max-width: 735px) {
    .intro-header {
    font-size: 20px;
    font-weight: bold;
    }

    .intro-text {
    font-size:12px;
    }

}


.align-right-img {
    float: right;
    margin-left: 5px;
}

.align-left-img {
    float: left;
    margin-right: 5px;
}

.align-center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#masc_info {
    width: 75%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #f6f6f6;
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #262a2d;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, san-serif; font-style: normal;
    text-align: left;
	border: 1px solid #e0e0e0;
}
