body {
    background-color: #F8F8F8
}

.Header-header{
    width: 100%;
    position: relative;
    height: 130px
}

.clearfix {
    background-color: #5e6a71 !important
}

@media screen and (min-width: 768px) {

    .Header-logoImage {
        margin-top: 10px !important;
        height: 80px;
        width: auto;
    }

    .Header-controls {
        width: 100%;
        position: static;
    }

    .Header-hamburgerHolder {
        float: left;
    }

    .Header-hamburgerHolder .btn-group button {
        display: none;
    }

    .Header-headerMenuLinks {
        position: static;
        display: flex;
        flex-wrap: nowrap;
        border: none;
        box-shadow: none;
    }

    .Header-headerMenuLinks h3 {
        margin: 2px;
    }

}

.searchcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 330px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.centered {
    position: absolute;
    background-color: #00a5bd;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardbutton {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 330px;
    margin: auto;
    background-color: white;
    text-align: center;
}

.cardbutton:hover {
    background-color:  #d9d9d9 ;
}

.center-text {
    text-align: center;
}

.intro-block {
    height: 120px;
    background: #E0E0E0;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #00a5bd;
    color: #black;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}