.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
}

.cardbutton {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    background-color: white;
    text-align: center;
}

.cardbutton:hover {
    background-color:  #d9d9d9 ;
}

.center-text {
    text-align: center;
}